main {
    padding: 1rem 2rem 2rem;

    h2>.saltIcon {
        margin-right: 1rem;
    }

    code {
        border-radius: .5rem;
        font-size: 1.3rem;
        font-weight: 600;
        padding: .15rem .25rem;
    }
    img {
        &.avatar {
            width: 10rem;
        }

        &.fluid {
            max-width: 100%;
            margin-bottom: 1rem;
        }        
    }
    figure {
        display: block;
        width: 100%;
        margin: 0 .5rem 2rem -0.5rem;
        img {
            border: 10px solid white;
            box-shadow: 0 0 .5rem #d4d4d4;
        }
        figcaption {
            background: #ededed;
            color: #222;
            padding: .5rem;
        }
    }
    .card-content {
        padding: 0 1rem 1rem;
        ul, ol {
            margin-left: 2rem;
        }
        ol {
            list-style-type: lower-roman;
        }
        p, ul, ol {
            font-size: 1.2rem;
            line-height: 1.75rem;
            margin-bottom: 1rem;
        }
    }
    .code-sample {
        font-family: 'Tahoma';
        padding: 1rem 2rem .25rem;
        margin: 0 0 1rem;
        border: 1px solid;
        border-radius: .5rem;    
        
        p {
            font-size: 1.35rem;
        }
    }
}